<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="split left">
      <div class="centered">
      <a href="url">Home</a>
      <br>
      <a href="students">Show students</a>
      <br>
      <a href="url">Add student</a>
      <br>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
    <form name="myForm" action="/index" onsubmit="return validateForm()" method="post">
      Name: <input type="text" name="name">
      <br>
      Grade: <input type="text" name="grade">
      <br>
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
      </form>
    </div>
  </div>
  <h1>heh geh</h1>
  </body>
</html>
