<h1>Welcome, add noob students below</h1>
<link rel='stylesheet' href='/stylesheets/style.css' />
<form method="post" action="/students/add">
<label for="name">Name</label>
<input type="text" id="name" name="name" />
<br />
<label for="grade">Grade</label>
<input type="text" id="grade" name="grade">
<br>
<input type="submit" value="Send" id="submit" />
<input type="reset">
</form>
